# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
    tags: '*'
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Build Distribution
      run: |
        python -m pip install --upgrade pip
        python -m pip install build
        python -m build
    - name: Install Test Dependencies
      run: |
        pip install -r test-requirements.txt
        python -m pip install mypy
        python -m pip install flake8
        mypy --version
    - name: Typing
      run: |
        mypy --namespace-packages --ignore-missing-imports --follow-imports=silent --strict --no-warn-redundant-casts --no-warn-unused-ignores --exclude '/test' -p nion.eels_analysis -p nionswift_plugin.nion_eels_analysis
        flake8 --max-line-length=160 nion/eels_analysis/BackgroundModel.py
    - name: Test
      run: |
        python -m unittest discover nionswift_plugin -v -p '*_test.py'
        python -m unittest discover nion -v -p '*_test.py'
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      with:
        name: distribution
        path: dist
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      with:
        skip_existing: true
        user: __token__
        password: ${{ secrets.pypi_password }}
    - name: Set up Miniconda conda-build
      # if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: '3.10'
    - name: Build/publish anaconda package
      # if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.8'
      shell: bash -l {0}
      run: |
        conda update -n base --all -y
        conda update --all -y
        conda install conda-build anaconda-client -y
        conda build -c nion --skip-existing --user nion --token ${{ secrets.anaconda_token }} .
